<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <a href="dashboard.html" class="navbar-brand mr-auto" id="logo"><img src="img/Logo.svg" class="img-fluid" width="150px"></a>
      <!-- For mobile hamburger menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar8">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar8">
        <ul class="navigation navbar-nav text-center ml-auto">
          <li><a href="dashboard.html" class="nav-link mr-3">Dashboard</a></li>
          <li><a href="#" class="nav-link mr-3">Courses</a></li>
          <li><a href="stock2.html" class="nav-link mr-3">Stock Market Tool</a></li>
        </ul>
        <ul class="navigation navbar-nav text-center ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img src="img/profile-g.svg" height="25px"></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Consulting Help</a></li>
              <li><a class="dropdown-item" href="#">Messaging Inbox</a></li>
              <li><a class="dropdown-item" href="#">Billing</a></li>
              <li><a class="dropdown-item" href="#">Tech Support</a></li>
              <li><a class="dropdown-item" href="index.html">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Main body-->
  <!--Back button code-->
  <div class="container">
    <div class="spacer25">
      <div class="row h-100">
        <div class="col">
          <a class="backbutton" href="dashboard.html" role="button"><img src="img/back.svg"></i></a>
        </div>
      </div>
    </div>
    <!--Course Description starts-->
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="text-center">
          <h1>Introduction to DIY Investing</h1>
          <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit sed velit eget ut porta neque, pharetra.amet, consectetur adipiscing elit. Sit eget ut porta neque, pharetra.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4 pt-3 pl-3">
            <img src="img/greenstars.png" height="18px" class="float-left">
            <p class="small">48 Ratings</p>
          </div>
          <div class="col-lg-3 pt-3 pl-3">
            <img src="img/clarity_book-solid.png" height="18px" class="float-left">
            <p class="small">12 Lessons</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <div class="progressbar2-g float-left">
            </div>
            <p class="small text-right mt-3">40% Complete</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <!--Start Next Lesson Section-->
    <div class="row justify-content-center mt-5">
      <div class="button btn-g-primary">Start Next Lesson</div>
    </div>
    <div class="spacer5"></div>
    <div class="row mt-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h3>Welcome</h3>
        <div class="u-green"></div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <img src="img/greencheck.svg">
              <div class="vertrule"></div>
              <img src="img/playbutton.svg">
              <p class="float-left">Watch this first</p>
            </div>
            <div class="button btn-g-primary my-auto" data-toggle="modal" data-target="#lesson1">Start</div>
          </div>
        </div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <img src="img/greencheck.svg">
              <div class="vertrule"></div>
              <img src="img/document-icon.svg">
              <p class="float-left">What to Expect in this Course</p>
            </div>
            <div class="button btn-g-primary my-auto" data-toggle="modal" data-target="#lesson2">Start</div>
          </div>
        </div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <img src="img/greencheck.svg">
              <div class="vertrule"></div>
              <img src="img/document-icon.svg">
              <p class="float-left">Terms and Conditions</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="spacer5"></div>
    <div class="row mt-5">
      <!--Introduction Section-->
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h3>Introduction</h3>
        <div class="u-green"></div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <img src="img/greencheck.svg">
              <div class="vertrule"></div>
              <img src="img/playbutton.svg">
              <p class="float-left">Why Index Investing?</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <div class="progresscircle-g"></div>
              <div class="vertrule"></div>
              <img src="img/document-icon.svg">
              <p class="float-left">Financial Literacy</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <div class="circle-g"></div>
              <div class="vertrule"></div>
              <img src="img/document-icon.svg">
              <p class="float-left">Selecting a Brokerage Account</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="spacer5"></div>
    <div class="row mt-5">
      <div class="col-lg-2"></div>
      <!--Module 1 Section-->
      <div class="col-lg-8">
        <h3>Module 1</h3>
        <div class="u-green"></div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <div class="circle-g"></div>
              <div class="vertrule"></div>
              <img src="img/playbutton.svg">
              <p class="float-left">Determining your Financial Goals</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <div class="circle-g"></div>
              <div class="vertrule"></div>
              <img src="img/document-icon.svg">
              <p class="float-left">Determining your Risk Tolerance</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
        <div class="coursebox shadow">
          <div class="col d-flex justify-content-between">
            <div>
              <div class="circle-g"></div>
              <div class="vertrule"></div>
              <img src="img/document-icon.svg">
              <p class="float-left">Understanding Investment Categories</p>
            </div>
            <div class="button btn-g-primary my-auto">Start</div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="spacer25"></div>
  </div>
  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="lesson1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
  <h5 class="modal-title">Watch This First</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
        <div class="container my-5">
          <img src="img/tfsa.png" class="img-fluid">
          <div class="row mt-3">
            <div class="col-lg-4">
              <img src="img/grow.png" class="img-fluid">
            </div>
            <div class="col-lg-8">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ac non in pulvinar risus. Dignissim arcu quam aliquam libero orci faucibus enim, euismod pulvinar. Eget enim, eget quam cursus a, dui sit nunc, blandit. Lectus donec in in mattis donec. Libero, tellus aliquam, turpis consequat proin magna augue aliquet orci.</p>
              <p>Vitae, morbi purus lacus, pellentesque mauris morbi. Venenatis mauris porta aliquam risus id. Faucibus ac, ultricies ut nibh ultricies diam sollicitudin lorem tincidunt. Imperdiet eu id elementum tellus viverra a odio neque ridiculus. Augue at ut nec velit morbi quis egestas aliquam, massa.</p>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <button type="button" class="button btn-g-primary" data-dismiss="modal">Complete and Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="lesson2">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
  <h5 class="modal-title">What To Expect in This Course</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
        <div class="container my-5">
          <div class="row mt-3">
            <div class="col-lg-5">
              <img src="img/grow.png" class="img-fluid">
            </div>
            <div class="col-lg-7 my-auto">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ac non in pulvinar risus. Dignissim arcu quam aliquam libero orci faucibus enim, euismod pulvinar. Eget enim, eget quam cursus a, dui sit nunc, blandit. Lectus donec in in mattis donec. Libero, tellus aliquam, turpis consequat proin magna augue aliquet orci.</p>
              <p>Vitae, morbi purus lacus, pellentesque mauris morbi. Venenatis mauris porta aliquam risus id. Faucibus ac, ultricies ut nibh ultricies diam sollicitudin lorem tincidunt. Imperdiet eu id elementum tellus viverra a odio neque ridiculus. Augue at ut nec velit morbi quis egestas aliquam, massa.</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-7 my-auto">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ac non in pulvinar risus. Dignissim arcu quam aliquam libero orci faucibus enim, euismod pulvinar. Eget enim, eget quam cursus a, dui sit nunc, blandit. Lectus donec in in mattis donec. Libero, tellus aliquam, turpis consequat proin magna augue aliquet orci.</p>
              <p>Vitae, morbi purus lacus, pellentesque mauris morbi. Venenatis mauris porta aliquam risus id. Faucibus ac, ultricies ut nibh ultricies diam sollicitudin lorem tincidunt. Imperdiet eu id elementum tellus viverra a odio neque ridiculus. Augue at ut nec velit morbi quis egestas aliquam, massa.</p>
            </div>
            <div class="col-lg-5">
              <img src="img/grow.png" class="img-fluid">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-5">
              <img src="img/grow.png" class="img-fluid">
            </div>
            <div class="col-lg-7 my-auto">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ac non in pulvinar risus. Dignissim arcu quam aliquam libero orci faucibus enim, euismod pulvinar. Eget enim, eget quam cursus a, dui sit nunc, blandit. Lectus donec in in mattis donec. Libero, tellus aliquam, turpis consequat proin magna augue aliquet orci.</p>
              <p>Vitae, morbi purus lacus, pellentesque mauris morbi. Venenatis mauris porta aliquam risus id. Faucibus ac, ultricies ut nibh ultricies diam sollicitudin lorem tincidunt. Imperdiet eu id elementum tellus viverra a odio neque ridiculus. Augue at ut nec velit morbi quis egestas aliquam, massa.</p>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <button type="button" class="button btn-g-primary" data-dismiss="modal">Complete and Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>