<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <a href="index.html" class="navbar-brand mr-auto" id="logo"><img src="img/Logo.svg" class="img-fluid" width="150px"></a>
      <!-- For mobile hamburger menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar8">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar8">
        <ul class="navigation navbar-nav text-center ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Our Company</a></li>
              <li><a class="dropdown-item" href="mission.html">Mission and Values</a></li>
              <li><a class="dropdown-item" href="#">Contact</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Courses</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Courses by Subject</a></li>
              <li><a class="dropdown-item" href="#">Packages</a></li>
            </ul>
          </li>
          <li><a href="stock.html" class="nav-link mr-3">Stock Market Tool</a></li>
        </ul>
        <ul class="navigation navbar-nav text-center ml-auto">
          <li><a href="login.html" class="nav-link nav-button b-secondary">Log In</a></li>
          <li><a href="signup.html" class="nav-link nav-button b-primary">Get Started</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--main page starts-->
  <!--Hero image area-->
  <div class="jumbotron jumbotron-fluid mb-0" id="mission">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-6  my-auto">
          <h1>“Empowering headline or some kind of inspirational quote”</h1>
        </div>
      </div>
    </div>
  </div>
  <!--Section about learning comfortably-->
  <div class="jumbotron jumbotron-fluid bg-offwhite mb-0" id="learncomfortably">
    <div class="container bg-offwhite" id="learncomfortably">
      <div class="row">
        <div class="col-lg-6 my-auto">
          <img src="img/placeholder2.png" class="img-fluid">
        </div>
        <div class="col-lg-6 my-auto">
          <h3 class="mb-3">Mission & Values</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit et sagittis, tincidunt sit volutpat sodales morbi fames tortor. Sem libero quis cras libero arcu, cras. Placerat blandit senectus penatibus sodales nunc, pellentesque leo sapien. Laoreet viverra dignissim quis risus ante arcu sit commodo. Aliquam varius quis turpis cras quam amet. Mauris vitae ut eget ac consequat blandit ultrices. Rhoncus, morbi quis ut nunc eu lorem netus. Ac adipiscing odio id a massa tellus id orci interdum. Sagittis, eu, aenean elementum netus aliquet.</p>

        </div>
      </div>

    </div>

  </div>


</body>
<!--Footer-->
<footer class="bg-darkblue">