<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <a href="index.html" class="navbar-brand mr-auto" id="logo"><img src="img/Logo.svg" class="img-fluid" width="150px"></a>
      <!-- For mobile hamburger menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar8">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar8">
        <ul class="navigation navbar-nav text-center ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Our Company</a></li>
              <li><a class="dropdown-item" href="mission.html">Mission and Values</a></li>
              <li><a class="dropdown-item" href="#">Contact</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Courses</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Courses by Subject</a></li>
              <li><a class="dropdown-item" href="#">Courses by Package</a></li>
            </ul>
          </li>
          <li><a href="stock.html" class="nav-link mr-3">Stock Market Tool</a></li>
        </ul>
        <ul class="navigation navbar-nav text-center ml-auto">
          <li><a href="login.html" class="nav-link nav-button btn-g-secondary">Log In</a></li>
          <li><a href="#" class="nav-link nav-button btn-g-primary">Get Started</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--main page starts-->
  <!--Hero image area-->
  <div class="jumbotron jumbotron-fluid mb-0 bg-offwhite" id="mission">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-6  my-auto">
          <h1 class="mb-4">Invest and Do Good:</h1>
          <h3>Investing Can Benefit Your Wallet AND the World</h3>
        </div>
        <div class="col-lg-6 my-auto">
          <img src="img/missionandvalues.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <!--Section about learning comfortably-->
  <div class="jumbotron jumbotron-fluid bg-offwhite mb-0" id="learncomfortably">
    <div class="container bg-offwhite" id="learncomfortably">
      <div class="row">
        <div class="col my-auto">
          <h3 class="mb-3">Mission & Values</h3>
          <p>Investing is usually all about making a better future for yourself, it’s typically a case of backing up a company that will give you the best return, both through capital growth and dividend payments, right? That certainly used to be the conventional way of thinking and by default it was believed that any investment strategy deviating from those simple principles would end up costing you.</p>
          <p>But what if you could learn how to invest wisely, avoid costly mistakes, but still invest in a company that does good? At FairShare we believe in changing mindsets. We start by providing educational courses and free tools and resources to prepare the investor who is looking for more than just the absolute financial return. We cater to all learners, whether you are just a beginner starting out, or someone looking to improve their techniques or knowledge of investing. Wherever you're at, we’ll meet you there. We believe education, all forms of it, should be accessible to students and not a burden for all those who are working towards a better future for themselves.</p>
          <p>We’re building a world where anyone, anywhere can have access to the best knowledge of investing and financial management regardless of your skill level. At our core, we believe education is a right, not a privilege. To that end, we’re building a company and a suite of products to lead the charge in transforming access to better financial literacy while making contributions to our community through sales of our products.</p>

        </div>
      </div>

    </div>

  </div>


</body>