<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <a href="index.html" class="navbar-brand mr-auto" id="logo"><img src="img/Logo.svg" class="img-fluid" width="150px"></a>
        <!-- For mobile hamburger menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar8">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar8">
        </div>
      </div>
    </nav>
    <!--main login page-->
    <div class="jumbotron jumbotron-fluid mb-0 bg-lilac" id="signup">
      <div class="container">
              <a class="backbutton2" href="index.html" role="button"><img src="img/back.svg"></i></a>
        <div class="row h-100">
          <div class="col-lg-3"></div>
          <!--Form for login, this whole box shakes if incorrect email added-->
          <div class="col-lg-6 my-auto bg-offwhite loginbox py-3" id="formbox">
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8 text-center">
                <p><small>Already have a Fairshare Account? <a href="login.html">Login</a></small></p>
                <hr>
                <h3>Create a New Account</h3>
                <form class="text-left" id="form_id">
                  <label for="fullname">Full Name</label>
                  <input type="text" name="name" id="name" class="forminput">
                  <label for="Username">Public Username</label>
                  <input type="username" name="username" id="username" class="forminput">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" class="forminput">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="forminput">
                  <label for="country">Country of Residence</label>
                  <input type="country" name="country" id="country" class="forminput">
                  <p class="small">By creating an account, you agree to the Terms of Service.</p>
                  <input type="checkbox" id="remembercheck" name="remembercheck" value="rememberme">
                  <label for="remembercheck" class="small"> Sign up for our weekly newsletter.</label>
                  <div class="row d-flex justify-content-center">
                    <a href="dashboard.html"><div class="button b-primary mb-3 mt-3" id="submit">Sign Up</div></a>
                  </div>
                </form>
                </div>
                <div class="col-lg-2"></div>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </div>
    </body>
  <!--footer-->
    <footer class="bg-darkblue">